<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top"-->
<!--     style="background-color: white; display: flex; justify-content: space-between">-->
<!--  <div class="row">-->
<!--    <div style="width: 10rem"></div>-->
<!--    <a class="navbar-brand" id="hztext">Memory cards</a>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <button mat-stroked-button style="width: fit-content;border-radius: 1rem"><p style="margin: 0">Download</p>-->
<!--    </button>-->
<!--    <button (click)="goToAuth()" mat-stroked-button style="width: fit-content;border-radius: 1rem;margin-left: 2rem"><p style="margin: 0">Auth</p>-->
<!--    </button>-->
<!--    <div style="width: 10rem"></div>-->
<!--  </div>-->
<!--</nav>-->
<div class="d-flex justify-content-end" style="background: #7258FE; height: 10vh">
  <button (click)="goToAuth()" mat-raised-button style="width: fit-content;border-radius: 1rem;margin-top: 1rem;margin-right: 3rem; height: fit-content"><p style="margin: 0">
    Sign In</p>
  </button>
</div>
<div id="screen1">

  <div id="jahz">
    <div class="offset-1"></div>
    <div class="column">
      <p class="display-3 text-white">Memorize words better with <b class="display-1 text-white font-weight-bold">Memory
        cards</b></p>
      <div style="height: 10vh"></div>
      <button mat-flat-button style="width: fit-content;border-radius: 1rem"><p class="display-4" id="hz2">Download</p>
      </button>
    </div>
    <img src="https://www.aks.ua/images/products/cee0b1df2fec600a4733aac4488fb94f_large.jpg">
    <div class="offset-1"></div>
  </div>
</div>
