<h2 mat-dialog-title>Edit deck:</h2>
<mat-dialog-content class="mat-typography">
    <div class="d-flex flex-column justify-content-center align-items-start" style="border-radius: 5px; padding-bottom: 5px">
      <input type="text" class="mb-2" placeholder="Title"
             style="border-radius: 5px;"
             [ngModel]="deck.title"
             (ngModelChange)="deck.title=$event">

      <input class="mb-2" type="text" placeholder="Description"
             style="border-radius: 5px;"
             [ngModel]="deck.description"
             (ngModelChange)="deck.description=$event">

      <label class="mb-2">
        Visible: <input type="checkbox"
                        [ngModel]="deck.visibility"
                        (ngModelChange)="deck.visibility=$event">
      </label>

  </div>
</mat-dialog-content>
<mat-dialog-actions class="row justify-content-end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="deck">Update</button>
</mat-dialog-actions>
