# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.MemoryCardsWebApp.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\smyslov\Documents\ProgrammingProjects\RiderWindowsProjects\MemoryCardsWebApp\.idea\.idea.MemoryCardsWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
