mat-grid-tile {
  background: #add8e6;
}

mat-card {
  background: #f1f1f1;
  margin-top: 2rem;
}

mat-grid-list {
  background: aliceblue;
}

.deck-outer-div {
  max-width: 40rem;
  background: aliceblue;
}

.cardText {
  display: inline-block;;
}

#deck-title {
  margin-top: -1.2rem;
}

#deck-description {
  margin-top: -1.2rem;
}

.text-wrapper {
  min-width: 30%;
  border-radius: 5px;
}

.resize-img {
  height: 10rem;
  width: auto;
}

.img-container {
  display: flex;
  justify-content: center;
}

.toned-body {
  height: max-content;
  background-size: cover;
  background: #1A1A1A;
}

.button-black {
  background-color: #111111;
  color: #E8E9F3;
}

.fullCard {
  border-radius: 30px;
  display: inline-flex;
}

.training-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(123, 123, 123);
  transition: 1s;
}

.hidden {
  opacity: 0;
  left: -100%;
}

.shown {
  opacity: 1;
  left: 0;
}

