<div>
  <div>
    <div style="background-color: #234560; width: 100%;">
      <div style="height: 1rem"></div>
      <div class="row justify-content-around">
        <button mat-raised-button (click)="goBack()">back</button>
        <button mat-raised-button color="warn" (click)="showDeleteDeckDialog()">delete</button>
      </div>
      <hr style="background-color: #E8E9F3">
      <div>
        <h1 class="text-center" style="color: #E8E9F3">Deck:</h1>
        <h1 id="deck-title" class="text-center " style="color: #E8E9F3">{{deck.title}}</h1>
      </div>
      <div>
        <h2 class="text-center" style="color: #E8E9F3">Descritpion:</h2>
        <h2 id="deck-description" class="text-center " style="color: #E8E9F3">{{deck.description}}</h2>
      </div>
      <hr style="background-color:#E8E9F3">

      <div class="row justify-content-center">
        <button class="row justify-content-center" mat-raised-button (click)="showAddDialog()">+ add card</button>
      </div>
      <div style="height: 1rem"></div>
    </div>

    <div class="row justify-content-around">
      <div *ngFor="let card of cards" class="mt-4 " (click)="showEditCardDialog(card)">
        <div class="fullCard mt-2 mb-2" style="border:5px solid {{card.color}}; overflow:hidden">
          <div class="card pl-3 pt-3 pr-3" style="width: 10rem; height: 13rem">
            <img *ngIf="card.frontImage!=''" src="{{card.frontImage}}" class="card-img-top img-fluid resize-img"
                 style="border-radius: 10px">
            <div class="card-body" style="display: flex;align-items: center;justify-content: center">
              <span class="card-title text-center ">{{card.frontText}}</span>
            </div>
          </div>
          <div class="card pl-3 pt-3 pr-3" style="width: 10rem; height: 13rem">
            <img *ngIf="card.backImage!=''" src="{{card.backImage}}" class="card-img-top img-fluid resize-img"
                 style="border-radius: 10px">
            <div class="card-body" style="display: flex;align-items: center;justify-content: center">
              <span class="card-title text-center">{{card.backText}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
