<main>
  <div class="authentication-form d-flex justify-content-center align-items-center">
    <div class="authentication-container">

      <div class="header">
        <div class="header-text d-inline-block">
          Memory Cards
        </div>
      </div>

      <div class="authentication-items">

        <input type="text" placeholder="Login" [ngModel]="login"
               (ngModelChange)="user.username=$event">
        <br>

        <input type="password" placeholder="Password" [ngModel]="passwordHash"
               (ngModelChange)="user.passwordHash=$event">
        <br>

        <div class="flex-wrap d-flex justify-content-between">

          <div class="d-flex justify-content-center">
            <button mat-raised-button class="top-btn">Sign In</button>
          </div>

          <br>

          <div class="d-flex justify-content-center">
            <button mat-raised-button class="top-btn" (click)="authenticate(login, passwordHash)">Log In</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
