.authentication-form {
  background-color: #254661;
  height: 100%
}

main {
  height: 100%;
}

.authentication-container {
  background-color: #254661;
  color: #E8E9F3;
  border-radius: 10px;
  border: 2px solid #e69a8e;
  margin-bottom: 15rem;
}

.authentication-items {
  margin: 2rem;
  flex-direction: column;
  display: flex;
}

.top-btn {
  background-color: #e69a8e;
  /*color: #E8E9F3;*/
  color: #E8E9F3;
  font-weight: bold;
  letter-spacing: .15rem;
}

input {
  border-color: #e69a8e;
  background-color: #E8E9F3;
  color: #254661;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 10px;
}

.header {
  background-color: #e69a8e;
  border-radius: 10px 10px 0 0;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.header-text {
  white-space: normal !important;
  color: #1d1d1f;
  font-size: 2rem;
  margin: 10px;
}
