<main>
  <div class="authentication-form d-flex justify-content-center align-items-center">
    <div class="col-md-4 m-2">
      <div class="authentication-container ">

        <div class="header">
          <div class="header-text d-inline-block">
            Memory Cards
          </div>
        </div>

        <div class="authentication-items">

          <input class="md-4" type="text" placeholder="Login" [ngModel]="userAuthenticationData.email"
                 (ngModelChange)="userAuthenticationData.email=$event">

          <input class="md-4" type="password" placeholder="Password" [ngModel]="userAuthenticationData.passwordHash"
                 (ngModelChange)="userAuthenticationData.passwordHash=$event">

          <div class="flex-wrap d-flex justify-content-between">

            <div class="d-flex justify-content-center">
              <button mat-raised-button class="top-btn">Sign Up</button>
            </div>

            <br>

            <div class="d-flex justify-content-center">
              <button mat-raised-button class="top-btn" (click)="authenticate()">Sign In</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</main>
