<div class="container" [ngClass]="{'invalid': inputForm.invalid && inputForm.touched,
'valid': inputForm.valid}">
  <div class="part left">
    <img src="/assets/icons/lock-dark.svg" class="dark">
    <img src="/assets/icons/lock-light.svg" class="light">
  </div>
  <div class="part input-container">
    <form [formGroup]="inputForm">
      <input (blur)="onTouched()" type="password" placeholder="Пароль" autocomplete (keyup)="update()" formControlName="input">
    </form>
  </div>
  <div class="part right">
    <img src="/assets/icons/success.svg" class="success">
    <img src="/assets/icons/error.svg" class="error">
  </div>
</div>
