<body>
<header></header>

<main>
  <div class="decks-container row justify-content-center">
    <div class="col-md-8 m-2">
      <button mat-raised-button id="back-btn">Back</button>
      <hr>
      <h1>Decks</h1>
      <hr>

      <div class="row justify-content-center">
        <div class="col-4 pt-3 add-deck-cross-btn mat-raised-button" (click)="showAddDialog()">
          <svg class="svg-cross svg-cross" viewBox="0 0 8 8">
            <line x1="1" y1="4" x2="7" y2=4></line>
            <line x1="4" y1="1" x2="4" y2=7></line>
          </svg>
          <div class="add-deck-title">
            <p class="add-deck-title-text">Add deck</p>
          </div>
          <div class="add-deck-title-md d-none">
            <span class="add-deck-title-text m-0">Add</span>
            <span class="add-deck-title-text m-0">deck</span>
          </div>
        </div>
      </div>

      <div *ngFor="let deck of decks" class="deck-container row justify-content-center m-3" (click)="openDeck(deck.id)">
        <div class="mat-raised-button div-button-raise-fix col-10 col-md-12 p-1">
          <div class="deck-header row m-0 p-1 pl-2">
            <div class="deck-header-text col-9 p-0 div-button-unclickable-text text-capitalize">{{ deck.title }}</div>
            <div class="col-3 p-0 author-link-wrapper pr-1">
              <a class="author-link">#{{ deck.authorUser }}</a>
            </div>
          </div>
          <div class="deck-description p-1">
<!--            <p class="deck-description-text div-button-unclickable-text">{{deck.description}}</p>-->
            <p class="deck-description-text text-break">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iste, laudantium. A aperiam cumque dolorem esse id itaque qui sunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem dolores eaque facere maiores minus molestias nobis obcaecati quaerat velit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer></footer>

</body>
