mat-grid-tile {
  background: lightblue;
}

.camouflage-background {
  background: aliceblue;
}

.deck-outer-div {
  max-width: 40rem;
  background: aliceblue;
}

.inner {
  height: 10%;
  padding: 1rem;
}

.uncopyable-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.div-button {
  border-radius: 5px;
  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.div-button-raise-fix{
  display: block;
  background-color: #CACACF;
}

.button-add {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-color: #CACACF;
  color: #61616A;
}

.button-add-plus-symbol {
  width: 60px;
  height: 60px;
  stroke-width: 2; /*ширина линии*/

  padding: 2%;

  stroke: #616161; /*цвет линии через rgb*/
  stroke-linecap: round; /*тип линии*/
}

.deck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 1%;

}
