mat-grid-tile {
  background: lightblue;
}

.camouflage-background{
  background: aliceblue;
}

.deck-outer-div{
  max-width: 40rem;
  background: aliceblue;
}

.inner{
  height: 10%;
  padding: 1rem;
}

.uncopyable-text{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.div-button{
  border-radius: 5px;
  cursor:pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button-add{
  /*flex-flow: column;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  /*display: inline-block;*/
}

.button-add-plus-symbol{
  width: 50px;
  height: 50px;
  margin: 2%;
  stroke: rgb(214, 214, 214); /*цвет линии через rgb*/
  stroke-linecap: round; /*тип линии*/
  stroke-width: 2; /*ширина линии*/
}
