<body class="toned-body" >
<div class="container" style="background-color: #1F1F1F">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-between">
        <button mat-raised-button class="button-black" (click)="goBack()">back</button>
        <button mat-raised-button color="warn" (click)="showDeleteDeckDialog()">delete</button>
      </div>
      <hr style="background-color: #E8E9F3">
      <div>
        <h1 class="text-center" style="color: #E8E9F3">Deck:</h1>
        <h1 id="deck-title" class="text-center " style="color: #E8E9F3">{{currentDeck.title}}</h1>
      </div>
      <div>
        <h2 class="text-center" style="color: #E8E9F3">Descritpion:</h2>
        <h2 id="deck-description" class="text-center " style="color: #E8E9F3">{{currentDeck.description}}</h2>
      </div>
      <hr style="background-color: #E8E9F3">

      <div class="row justify-content-center">
        <button class="row justify-content-center" mat-raised-button (click)="showAddDialog()">+ add card</button>
      </div>

      <div>
        <ng-container *ngFor="let card of currentCards">
<!--          <div class="justify-content-center" style="display: flex; justify-content: center">-->
<!--            <img mat-card-image src="{{card.backImage}}" class="img-fluid rounded resizeImg" style="">-->
<!--          </div>-->
<!--          <img mat-card-image src="{{card.backImage}}" class="img-fluid rounded resizeImg" style="text-align: justify;display:inline-block">-->
          <mat-card (click)="changeCardSide()" [ngStyle]="{'background-color': card.color}">
            <div [ngSwitch]="cardSide" class="ml-5 mr-4 mt-5">
              <!--1 ng switch -->

              <ng-template ngSwitchCase="front">
                <div class="img-container" >
                  <img mat-card-image src="{{card.frontImage}}" class="img-fluid rounded resize-img">
                </div>
              </ng-template>
              <ng-template ngSwitchCase="back">
                <div class="img-container">
                  <img mat-card-image src="{{card.backImage}}" class="img-fluid rounded resize-img">
                </div>
              </ng-template>
            </div>
            <div class="text-wrapper d-flex justify-content-center align-items-center">
              <div class="bg-light d-flex align-items-center">
                <mat-card-title class="text-center mt-4 align-items-center" [ngSwitch]="cardSide">
                  <ng-template ngSwitchCase="front"> {{card.frontText}}</ng-template>
                  <ng-template ngSwitchCase="back"> {{card.backText}}</ng-template>
                </mat-card-title>
              </div>
            </div>
            <mat-card-actions align="end">
              <button mat-raised-button color="accent" (click)="showEditCardDialog(card)"
                      (click)="changeCardSide() ">Edit
              </button>
              <button mat-raised-button color="warn" (click)="showDeleteCardDialog(card.id)" (click)="changeCardSide()">
                delete
              </button>
            </mat-card-actions>
          </mat-card>
          <!--          БЫЛО БЫ НИХУЁВО СДЕЛАТЬ ТАК ЧТОБЫ ТОЛЬКО ОДНА КАРТОЧКА ВОРОЧАЛАСЬ ну можно их ещё и поменьше сделать так то))) и уголки закруглить, я не смог((
          -->
          <!--          я бы лично въебал поле ещё одно в класс-->
        </ng-container>
      </div>
    </div>
  </div>
</div>
</body>
