<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-between">
        <button mat-raised-button color="accent" (click)="goBack()">back</button>
        <button mat-raised-button color="warn" (click)="showDeleteDeckDialog()">delete</button>
      </div>
      <hr>
      <h1>Deck: {{currentDeck.title}}</h1>
      <hr>

      <div class="row justify-content-center">
        <button class="row justify-content-center" mat-raised-button (click)="showAddDialog()">+ add card</button>
      </div>

      <div >
        <ng-container *ngFor="let card of currentCards">
          <mat-card (click)="changFrontAndBack(card)" style="background: {{card.color}}">
            <mat-card-title align="center" >{{card.frontText}}</mat-card-title>
            <img  mat-card-image src="{{imageSource}}">
            <mat-card-actions align="end">
              <button mat-raised-button color="warn" (click)="showDeleteCardDialog(card.id)" (click)="changFrontAndBack(card)">delete</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
