<!--<h2 mat-dialog-title>Edit editedCard:</h2>-->
<!--<mat-dialog-content class="mat-typography">-->
<!--  <label>-->
<!--    front text: <input type="text" [ngModel]="editedCard.frontText" (ngModelChange)="editedCard.frontText=$event" value="{{editedCard.frontText}}">-->
<!--  </label>-->
<!--  <br>-->

<!--  <label>-->
<!--    back text: <input type="text" [ngModel]="editedCard.backText" (ngModelChange)="editedCard.backText=$event" value="{{editedCard.backText}}">-->
<!--  </label>-->
<!--  <br>-->

<!--  <label>-->
<!--    front image: <input type="text" [ngModel]="editedCard.frontImage" (ngModelChange)="editedCard.frontImage=$event" value="{{editedCard.frontImage}}">-->
<!--  </label>-->
<!--  <br>-->

<!--  <label>-->
<!--    back image: <input type="text" [ngModel]="editedCard.backImage" (ngModelChange)=" editedCard.backImage=$event" value="{{editedCard.backImage}}">-->
<!--  </label>-->
<!--  <br>-->

<!--  <label>-->
<!--    color: <input type="text" [ngModel]="editedCard.color" (ngModelChange)="editedCard.color=$event" value="{{editedCard.color}}">-->
<!--  </label>-->

<!--  <br>-->

<!--</mat-dialog-content>-->
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-raised-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-raised-button color="accent" [mat-dialog-close]="editedCard" >Done</button>-->
<!--</mat-dialog-actions>-->

<mat-dialog-content class="mat-typography">
  <div class="row justify-content-around">
    <div class="m-4"
         style="border-radius: 30px;display: inline-flex;width: 40%; height: available; border:5px solid {{editedCard.color}}; overflow:hidden;">
      <div class="card pl-3 pt-3 pr-3" style="height: available">
        <img *ngIf="editedCard.frontImage!=''"  src="{{editedCard.frontImage}}" class="card-img-top img-fluid"
             style="border-radius: 10px;height: available;width: available;" (click)="showEditFrontImageDialog(editedCard)">
        <img *ngIf="editedCard.frontImage==''"  src="https://malyar-avto8.ru/thumb/2/TMuenNye52cacuxaDpW8xg/r/d/fgs16_image-placeholder.png" (click)="showEditFrontImageDialog(editedCard)">
        <div class="card-body" style="display: flex;align-items: center;justify-content: center">
          <input type="text" [ngModel]="editedCard.frontText" (ngModelChange)="editedCard.frontText=$event"
                 value="{{editedCard.frontText}}">
        </div>
      </div>
    </div>
    <div class="m-4"
         style="border-radius: 30px;display: inline-flex;width: 40%; height: 40%;border:5px solid {{editedCard.color}}; overflow:hidden">
      <div class="card pl-3 pt-3 pr-3" style="height: 100%">
        <img *ngIf="editedCard.backImage!=''" src="{{editedCard.backImage}}" class="card-img-top img-fluid"
             style="border-radius: 10px;height: 100%;width: auto;" (click)="showEditBackImageDialog(editedCard)">
        <img *ngIf="editedCard.backImage==''"  src="https://malyar-avto8.ru/thumb/2/TMuenNye52cacuxaDpW8xg/r/d/fgs16_image-placeholder.png" (click)="showEditBackImageDialog(editedCard)">
        <div class="card-body" style="display: flex;align-items: center;justify-content: center">
          <input type="text" [ngModel]="editedCard.backText" (ngModelChange)="editedCard.backText=$event"
                 value="{{editedCard.backText}}">
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button style="background-color: #234560;color: white" [mat-dialog-close]="editedCard" >Save</button>
</mat-dialog-actions>
